@model ComputingManagementSystem.Models.Software

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Software</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VersionNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VersionNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkToSoftware)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkToSoftware)
        </dd>
    </dl>
</div>

@*A list of professors that have requested the software*@
<div>
    @if (Model.ProfessorSoftware.Count != 0)
    {
        <h4>Software requested for @Model.SoftwareName:</h4>

        <ul>
            @foreach (var item in Model.ProfessorSoftware)
            {
                <li>@item.Professor.FirstName @item.Professor.LastName - <a href="/professors/details/@item.Professor.Id">Details</a></li>
            }
        </ul>

        <h4>There is a total of @Model.ProfessorSoftware.Count requests for @Model.SoftwareName</h4>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
